PORT=5001
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/social-platform
JWT_SECRET_KEY=your-secret-key-here
STREAM_API_KEY=your-stream-api-key
STREAM_API_SECRET=your-stream-api-secret
NODE_ENV=production